.container{
    width: 100%;
    height: 544px;
    border: 2px solid black;
    display: flex;     /* Initialize the container as a flex box*/
    /* Flex properties for flex container*/
    
    flex-direction: row;    /* ( Default value of flex-direction is row) */
    flex-direction: column;
    flex-direction:column-reverse;
    flex-direction: row-reverse;


    flex-wrap: wrap;   /* ( Default value of flex-direction is no wrap) */
    flex-wrap: wrap-reverse;
    
    /* this is a shorthand for flex-direction: and flex-wrap: ;; */
    flex-flow: row-reverse wrap; 


    /* justify-content will justify the content in horizontal direction */
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: space-around;


    /* justify-content will justify the content in vertical direction */
    align-items: center;
    align-items: end;
    align-items: start;
    align-items: stretch; 
}


.item{
    background-color: tomato;
    border: 2px solid gray;
    margin: 5px;
    padding: 2px;
    width: 200px;
    height: 200px;
    
}

#item-1{
    /* Flex properties for a flex item */
    /* higher the order,later it shows up in the container */
    order: 3;

    /* flex-grow: 2;
    flex-shrink: 2; */
}
#item-2{
    order: 2;
    flex-grow: 3;
    flex-shrink: 3;
    /* flex-basis: 320px; */
    /* when the flex-direction is set to row flex-basis: will control width; */
    /* /* when the flex-direction is set to column flex-basis: will control height; */


}

#item-3{
    order: 1;
     /* flex: 2 2 200px; */
     align-self: flex-end;
     align-self: flex-start;
     align-self: center;
}