.container {
    background-color: snow;
    border: 2px solid red;
    padding: 34px;
    margin: 34px auto;
    width: 50%;
}

.btn {
    background-color: rgb(178, 135, 143);
    padding: 6px;
    border: none;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(65, 3, 3);
    background-color:aquamarine ;
}

a:visited{
    color: yellow;
}

.btn:hover{
    color: tomato;
    background-color: aquamarine;
    border: 2px solid black;
}